<nav>
  <ul class="list navigation">
    <li class="list__item navigation__item">
      <span class="navigation__text">New</span>
    </li>
    <li class="list__item navigation__item">
      <span class="navigation__text">Woman</span>
    </li>
    <li class="list__item navigation__item">
      <span class="navigation__text">Men</span>
    </li>
    <li class="list__item navigation__item">
      <span class="navigation__text">Kids</span>
    </li>
    <li class="list__item navigation__item">
      <span class="navigation__text">Brands</span>
    </li>
    <li class="list__item navigation__item">
      <span class="navigation__text">Sale</span>
    </li>
  </ul>
</nav>